*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: rgb(253, 252, 252);
    height: 5rem;
    width: 100%;
    height: 100%;
    
}
#headertoptext{
    padding: 1rem;
}


#ukflag{
    width: 20px;
}
#flagbutton{
    display: none;
}
#logocart{
    
    width: 40px;
}

header a{
    text-decoration: none;
    color: brown;
}
.container{
    width: 100%;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
}
#logocontents{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    
}
#logocontents a{
    color: black;
}


#navlist{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    list-style: none;
    
}
#navlist a{
    color: brown;
}
#menu{
    background-color: orange;
    border: none;
    color: white;
}
#search{
     width: 700px;
     display: flex;
     flex-direction: row;
     align-items: center;
     display: none;
     border: 1rem;
}
#searchbar{
    width: 700px;
    padding: .5rem;
    
    border-radius: .5rem;
}
#searchbutton{
    border: none;
    background-color: transparent;
}
    

.categories{
    display: none;
}
@media only screen and (min-width: 992px) {
    #search{
        display: flex;
}
 #menu{
    display: none;
 }
 .categories{
    display: flex;
    gap: 2rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color: transparent;
    border-bottom: 2rem rgb(10, 10, 10);
 }
 .button{
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 15px;
 }
 #departments{
    background-color: rgb(53, 179, 53); 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: .2rem;
    font-size: 15px;
    border: none;
    padding: .5rem;

}
.headertop{
    padding: 1rem;
    
    
  }
  #flagbutton{
    display: flex;
    background-color: transparent;
    border: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#flagbutton .material-symbols-outlined{
    font-size: 15px;
}
#headertoptext{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    
}
}